<div class="tab_content_agencies animation-fadeIn _content">
    <section style="padding: 35px 15px 15px;">
        <div class="row" style="display: none;">
            <div class="col-md-12">
                <div class="text-center" style="margin-bottom: 70px;">
                    <h3 style="font-weight: bold;color: #000;">.</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Item Carousel -->
                <div class="row c4">
                    <div id="owl-team" class="owl-carousel owl-theme"> 
                        {% for modelo in audpa %}
                            <!-- Item -->
                            <div class="item" data-id="{{ modelo.id }}">
                                <div class="h caption-4 m-b">
                                    <figure><img src="{{ _host }}img/modelos/audi/{{ modelo.image }}" alt="{{ modelo.name }}">
                                        <figcaption>
                                            {#<div class="caption-box vertical-center-abs text-center social-btn">
                                                <a href="#" class="sb-twitter"><i class="fa fa-twitter"></i></a>
                                                <a href="#" class="sb-linkedin"><i class="fa fa-linkedin"></i></a>
                                                <a href="#" class="sb-instagram"><i class="fa fa-instagram"></i></a>
                                            </div>#}
                                        </figcaption>
                                    </figure>
                                </div>
                                <h5 class="f-w-900">{{ modelo.name }}</h5>
                                {#<p class="role">Head Physician</p>#}
                                <div id="social-buttons">
                                <a class="col-md-12 primaryLinkWithStyle plwsLight TargetLinks resp-button clearfix" href="{{ _host }}financiamiento/modelos/{{ modelo.key }}" data-link-desktop="{{ _host }}financiamiento/modelos/{{ modelo.key }}" data-target="current" id="get-view-web-site-event-ga" style="margin-bottom: 20px;">
                                    <span>MÁS INFORMACIÓN</span>
                                </a>
                                </div>
                                <p class="bio">
                                    {{ modelo.description }}
                                </p>    
                            </div>
                        {% endfor %}
                    </div><!-- /End Owl Team -->
                </div><!-- /End Row -->
        </div>{#end of container#}
    </section>
</div>